<ion-header>

  <ion-navbar>
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-sm-12 col-md-6 col-lg-6>
          <ion-list>
            <ion-item style="text-align: center;">
              <span class="result rounded" [hidden]="data1.image || !photoPriceList">
                <img [src]="photoPriceList" [width]="cropperSettings1.croppedWidth" [height]="cropperSettings1.croppedHeight" (click)="openImage()">
            </span>
              <span class="result rounded" [hidden]="!data1.image">
                <img [src]="data1.image" [width]="cropperSettings1.croppedWidth" [height]="cropperSettings1.croppedHeight" (click)="openImage()">
            </span>
            </ion-item>
          </ion-list>
        </ion-col>

        <ion-col col-12 col-sm-12 col-md-6 col-lg-6>
          <ion-list class="listPriceList">
            <ion-item>
              <ion-label >{{'code'|translate}}</ion-label>
              <ion-input name="code" ngModel="{{ codePriceList }}" type="text" #first="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label >{{'name'|translate}}</ion-label>
              <ion-input name="name" ngModel="{{ namePriceList }}" type="text" required ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col col-12 col-sm-12 col-md-12 col-lg-12>
          <ion-list>
            <ion-item>
              <ion-label><ion-icon name="document"></ion-icon></ion-label>
              <ion-input   name="description"  ngModel="{{ descriptionPriceList }}"  type="text" placeholder="{{'description'|translate}}"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card class="card-card">
      <ion-card-header>
        {{ 'taxes' | translate}}
      </ion-card-header>
      <ion-card-content>
        <ion-card class="card-editHtml">
          <ion-grid>
            <ion-row>
              <ion-col col-6 col-sm-4 col-md-3 col-lg-2 *ngFor="let cmd of commands" style="margin: 0;padding: 0;">
                <ion-card class="button-height">
                  <button ion-button outline color="light" class="button-class" (click)="doCommand(cmd);bindDraggables()" title="{{ cmd.desc }}" onclick="event.stopPropagation();event.preventDefault()">{{cmd.name}}</button>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        <div class="editHtml" id="editor" contentEditable="true" placeholder="Escribe la fórmula aquí..." [(ngModel)]="editor" [ngModelOptions]="{standalone: true}" ngDefaultControl></div>
        <div class="error-message" *ngIf="!mathjsSuccess">
          <p>{{ 'mathjsError' | translate}}</p>
        </div>
        <button ion-button (click)="formula()" onclick="event.stopPropagation();event.preventDefault()">GO</button>
      </ion-card-content>
    </ion-card>

    <ion-card class="card-card">
      <ion-card-header>
        {{ 'products' | translate}}
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-searchbar (ionInput)="getItems($event)" item-start placeholder="{{ 'search_searchBar'|translate }}" animated="true" autocomplete="on" autocorrect="on" spellcheck="true"></ion-searchbar>

          <ion-list class="list-art-deposit">
            <div *ngFor="let item of articlesList" >
              <ion-grid style="margin: 0;padding: 0;">
                <ion-row align-items-center style="margin: 0;padding: 0;">
                  <ion-col col-1 style="margin: 0;padding: 0;text-align: center;">
                    <ion-checkbox [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                  </ion-col>
                  <ion-col col-11 style="margin: 0;padding: 0;">
                    <ion-item (press)="viewArticle($event,item)">
                      <ion-avatar item-start>
                        <img src="{{ item?.image?.path || '../../assets/icon/product.png' }}">
                      </ion-avatar>
                      <ion-row>
                        <ion-col col-12 col-sm-12 col-md-6 col-lg-6>
                          <h2 style="display: flex">{{item?.name}}</h2>
                        </ion-col>
                        <ion-col col-12 col-sm-12 col-md-6 col-lg-6 style="text-align: right">
                          <h3>{{ ('code'|translate) + ': ' + item?.code }}</h3>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                          <h3>
                            <input class="input-measure" placeholder="{{ 'insert_Price'|translate }}" type="number" min="1" step="0.01" required value="1" [(ngModel)]="item.cant" [ngModelOptions]="{standalone: true}">
                          </h3>
                        </ion-col>
                      </ion-row>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-list>

        </ion-list>
      </ion-card-content>
    </ion-card>

    <button type="submit" ion-button>{{'save'|translate}}</button>
    <button ion-button color="danger" (click)="f.resetForm()" onclick="event.stopPropagation();event.preventDefault()">{{'erase'|translate}}</button>

  </form>



</ion-content>
