.green-theme {
  .toolbar-title{
    color: map-get($colors, light)!important;
  }
  .bar-button-clear{
    color: map-get($colors, light)!important;
  }
  .toolbar-background{
    background:map-get($colors, green-1)!important;
  }
  .tabs-md .tab-button[aria-selected=true]{
    color:map-get($colors, green-1)!important;
  }
  .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color:map-get($colors, green-1)!important;
  }
  .first-panel-icon{
    color:map-get($colors, green-1)!important;
  }
  .second-panel-icon-0{
    color: map-get($colors, green-icon-0)!important;
  }
  .second-panel-icon-1{
    color: map-get($colors, green-icon-1)!important;
  }
  .second-panel-icon-2{
    color: map-get($colors, green-icon-2)!important;
  }
  .second-panel-icon-3{
    color: map-get($colors, green-icon-3)!important;
  }
  .split-pane-background{
    background-color: map-get($colors, green-2)!important;
    ion-list{
      button{
        background-color: map-get($colors, green-2)!important;
        color: map-get($colors, dark);
      }
      .button-md-danger {
        color: map-get($colors, light);
        background-color:  map-get($colors, danger)!important;
      }
      .button-ios-danger {
        color: map-get($colors, light);
        background-color: map-get($colors, danger)!important;
      }
    }
  }
}
