// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.scroll-content {
  margin-top: 56px !important;
}
//.split-pane-background{
//  background-color: #2b313d!important;
//  ion-list{
//    button{
//      background-color: #2b313d!important;
//      color: white;
//    }
//  }
//}

.split-pane-background{
  .scroll-content{
    overflow-y: auto!important;
  }
  ion-icon{
    width: 25.89px;
  }
}
.glups-theme {
  .toolbar-background{
    background:map-get($colors, glups-1)!important;
  }
}
.dark-theme {
  .toolbar-background{
    background:map-get($colors, paraguay)!important;
  }
}
