<ion-card style="box-shadow:none;">

  <ion-item>
    <h2 style="display: flex">{{navParams.data?.name}}
      <h4 style="margin-left: 25px;">{{ ('code'|translate) + ': ' + navParams.data?.code }}</h4></h2>
  </ion-item>

  <ion-card-content>
    <ion-list>

      <ion-item>
        <ion-icon *ngIf="navParams.data?.type == 'quantity'" name="logo-usd"></ion-icon><ion-icon *ngIf="navParams.data?.type == 'percentage'" style="font-weight: bold;" >%</ion-icon>
        <ion-note style="white-space: normal;">{{ navParams.data?.value }}</ion-note>
      </ion-item>

    </ion-list>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small (click)="editTax(navParams.data)">
        <ion-icon name="md-create"></ion-icon>
        <div>{{'edit'|translate}}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="danger" icon-left clear small (click)="deleteTax(navParams.data)">
        <ion-icon name="trash"></ion-icon>
        <div>{{'deleteObject'|translate}}</div>
      </button>
    </ion-col>
  </ion-row>

</ion-card>
